<!DOCTYPE html>
<head>
    <title>Inscribir participante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Inscribir participante</h2>
        <form action="/participante" method="POST">
            <label>RUT:</label>
            <input type="text" name="rut" required>

            <label>Nombre completo:</label>
            <textarea name="nombre"></textarea>

            <label>Correo:</label>
            <input type="email" name="correo" required>

            <label>Telefono:</label>
            <input type="number" name="telefono" required>

            <label>Institucion o escuela:</label>
            <input type="text" name="institucion" required>

            <label>Curso a inscribir:</label>
            <select name="id_curso" required>
                {% for curso in cursos %}
                    <option value="{{ curso[0] }}">{{ curso[1] }}</option>
                {% endfor %}
            </select>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>